@charset "utf-8";

body {
  color: #2D2D2D;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 1.4em;
}

a:link,
a:visited {
  color: #6E5BAA;
}

a:hover,
a:active {
  text-decoration: none;
}

pre,
code {
  background: #F0F0F0;
}

code {
  font-family: "Inconsolata", Menlo, Monaco, monospace;
}

pre {
  border-radius: 0.25em;
  padding: 0.75em;
}

blockquote {
  border-left: 0.3em solid #F0F0F0;
  margin-left: 0;
  padding-left: 1em;
}

dt {
  font-style: italic;
  font-weight: bold;
}

table {
  border: 1px solid #CCC;
  width: 100%;
}

tr:nth-child(2n) {
  background: #F8F8F8;
}

th,
td {
  border: 1px solid #CCC;
  padding: 0.75em;
}

th {
  text-align: left;
}

.wrapper {
  margin: 0 auto;
  max-width: 640px;
}
