---
title: Purple | Colors
---

<ul class="swatches">
  <li style="background-color: #1abc9c;">$turquoise: #1abc9c;</li>
  <li style="background-color: #2ecc71;">$emerland: #2ecc71;</li>
  <li style="background-color: #3498db;">$peter-river: #3498db;</li>
  <li style="background-color: #9b59b6;">$amethyst: #9b59b6;</li>
  <li style="background-color: #34495e;">$wet-asphalt: #34495e;</li>
  <li style="background-color: #16a085;">$green-sea: #16a085;</li>
  <li style="background-color: #27ae60;">$nephritis: #27ae60;</li>
  <li style="background-color: #2980b9;">$belize-hole: #2980b9;</li>
  <li style="background-color: #8e44ad;">$wisteria: #8e44ad;</li>
  <li style="background-color: #2c3e50;">$midnight-blue: #2c3e50;</li>
  <li style="background-color: #f1c40f;">$sun-flower: #f1c40f;</li>
  <li style="background-color: #e67e22;">$carrot: #e67e22;</li>
  <li style="background-color: #e74c3c;">$alizarin: #e74c3c;</li>
  <li style="background-color: #ecf0f1;">$clouds: #ecf0f1;</li>
  <li style="background-color: #95a5a6;">$concrete: #95a5a6;</li>
  <li style="background-color: #f39c12;">$orange: #f39c12;</li>
  <li style="background-color: #d35400;">$pumpkin: #d35400;</li>
  <li style="background-color: #c0392b;">$pomegranate: #c0392b;</li>
  <li style="background-color: #bdc3c7;">$silver: #bdc3c7;</li>
  <li style="background-color: #7f8c8d;">$asbestos: #7f8c8d;</li>
</ul>
